{% extends "base.html" %}
{% load static %}

{% block title %}
{{ post.title }} | AlokBuilds
{% endblock %}

{% block content %}

<article class="blog-detail">

    <header>

        <span class="category">
            {{ post.category }}
        </span>

        <h1>
            {{ post.title }}
        </h1>

        <p class="meta">

            Published on

            {{ post.created_at|date:"F d, Y" }}

        </p>

    </header>

    {% if post.featured_image %}

    <img
        src="{{ post.featured_image.url }}"
        alt="{{ post.title }}"
        class="featured-image">

    {% endif %}

    <div class="blog-body">

        {{ post.content|safe }}

    </div>

</article>

{% endblock %}