{% load static %}

<!DOCTYPE html>

<html lang="en-IN">

<head>

    <!-- =========================================
                    BASIC META
    ========================================== -->

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <meta
        name="theme-color"
        content="#020617">

    <meta
        name="author"
        content="Alok Kumar">

    <meta
        name="keywords"
        content="
        Django Developer,
        Backend Developer,
        Python Developer,
        REST API,
        Alok Kumar,
        AlokBuilds">


    <!-- =========================================
                    TITLE
    ========================================== -->

    <title>

        {% block title %}

            AlokBuilds | Build • Learn • Launch

        {% endblock %}

    </title>


    <!-- =========================================
                META DESCRIPTION
    ========================================== -->

    <meta
        name="description"
        content="{% block meta_description %}Build projects, learn development and launch products with AlokBuilds.{% endblock %}">


    <!-- =========================================
                    CANONICAL
    ========================================== -->

    <link rel="canonical"
        href="https://www.alokbuilds.in{{ request.path }}">


    <!-- =========================================
                OPEN GRAPH
    ========================================== -->

    <meta
        property="og:title"
        content="AlokBuilds">

    <meta
        property="og:description"
        content="Backend Development, Projects, Courses and Resources.">

    <meta
        property="og:image"
        content="https://www.alokbuilds.in/preview.png">

    <meta property="og:url"
        content="https://www.alokbuilds.in{{ request.path }}">

    <meta
        property="og:type"
        content="website">


    <!-- =========================================
                    TWITTER
    ========================================== -->

    <meta
        name="twitter:card"
        content="summary_large_image">

    <meta
        name="twitter:title"
        content="AlokBuilds">

    <meta
        name="twitter:description"
        content="Backend Development, Projects, Courses and Resources.">

    <meta
        name="twitter:image"
        content="https://www.alokbuilds.in/preview.png">


    <!-- =========================================
                    FAVICON
    ========================================== -->

    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{% static 'images/core/icon/alokbuilds-icon.png' %}">

    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{% static 'images/core/icon/alokbuilds-icon.png' %}">

    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="{% static 'images/core/icon/alokbuilds-icon.png' %}">

    <link
        rel="shortcut icon"
        href="{% static 'images/core/icon/alokbuilds-icon.png' %}">


    <!-- =========================================
                    CSS
    ========================================== -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/modal.css' %}">


    {% block extra_css %}
    {% endblock %}


    <!-- =========================================
                EXTRA META
    ========================================== -->

    {% block extra_meta %}
    {% endblock %}

</head>


<body>

    <!-- =========================================
                ACCESSIBILITY
    ========================================== -->

    <a href="#main-content" class="skip-link">Skip to Content</a>

    {% include 'includes/navbar.html' %}

    <main id="main-content">

        {% block content %}
        {% endblock %}

    </main>

    <footer>

        {% include 'includes/footer.html' %}

    </footer>
    {% include 'includes/alerts.html' %}
    {% include 'includes/modals.html' %}
    {% include 'includes/loaders.html' %}


    <!-- =========================================
                GLOBAL JAVASCRIPT
    ========================================== -->

    <script
        src="{% static 'js/theme.js' %}"
        defer>
    </script>

    <script
        src="{% static 'js/navbar.js' %}"
        defer>
    </script>

    <script
        src="{% static 'js/modal.js' %}"
        defer>
    </script>

    <!-- =========================================
                PAGE SPECIFIC JS
    ========================================== -->

    {% block extra_js %}
    {% endblock %}

</body>

</html>