{% extends 'base.html' %}

{% block content %}

<section class="page-banner">

    <h1>
        About AlokBuilds
    </h1>

    <p>
        Developer ecosystem for projects, learning and backend development.
    </p>

</section>


<section class="about-section">

    <div class="about-content">

        <h2>
            Who Am I?
        </h2>

        <p>
            I build scalable Django applications,
            APIs, developer tools and learning systems.
        </p>

        <p>
            AlokBuilds is focused on helping students and developers
            through projects, study materials and premium backend systems.
        </p>

    </div>

</section>

{% endblock %}