{% extends 'base.html' %}

{% block content %}

<section class="page-banner">

    <h1>
        Services
    </h1>

    <p>
        Backend development and developer solutions.
    </p>

</section>


<section class="services-grid">

    <div class="service-card">

        <h3>
            Django Development
        </h3>

        <p>
            Scalable backend applications using Django.
        </p>

    </div>


    <div class="service-card">

        <h3>
            REST APIs
        </h3>

        <p>
            Secure and scalable REST API development.
        </p>

    </div>


    <div class="service-card">

        <h3>
            Study Resources
        </h3>

        <p>
            Premium study materials and notes.
        </p>

    </div>

</section>

{% endblock %}